# Ignora user media folder
/media/

# Ignora python cache
__pycache__/
*.pyc

# Ignora local database
db.sqlite3

# Ignora environment file
.env

# Ignora file di sistema macOS/Windows
.DS_Store
Thumbs.db